#parent {
    margin-top: 25vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#log {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p, mat-form-field {
    margin: 0.5rem;
}

